body{
    background-image: url(../images/image.ex1.jpg)
}
h1{
    color: white;
    text-align: center;
    background-color: blue;
}
h2{
    color:white;
    text-align: center;
    background-color: aqua
}
table{
    color: black;
    background-color:aquamarine
}
ol{
    background-image: url(../images/imagehaikei.jpg)
}